
* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	
}
ul {
  margin: auto;
  padding: 0;
  list-style: none;
  text-align: center;
}

a {
	color: #34495e;
	text-decoration: none;
}

.logo img{
    
    height: 50px;
    
    

}
.main-nav {
	margin-top: 5px;
    width: 100%;

}

.main-nav a {
    width: 100%;
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #2f0025;
}
.navigation .main-nav li{
    display: inline-block;
    
}


nav {
	background-color: #f7f6f2;
}



.home{
    display: flex;
    background: url(media/background.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}
.home .content{
    margin: auto;
}

.home h1{
    color: #6e002d;
    font-size: 65px;
    font-weight: 600;
    text-transform: uppercase;

}
.home h6{
    color: #6e002d;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}
.home a{
    display: block;
    width: 200px;
    padding-left: 20px;
    background: #ae0035;
    transition: all 0.4s ease;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    border-radius: 25px;
    border: 6px solid #2f0025;
    
}


.contentc h1{
    color: rgb(59, 54, 54);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 55;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 30px;
}
.contentc .grid{
    
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    font-family: sans-serif;
    padding-top: 30px;
    
}

.contentc .card img{
    width: 100%;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
    display: block;
    border-radius: 50%;
    padding: 10%;
    display: block;
  margin-left: auto;
  margin-right: auto;

}
.contentc .card .card-content{
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: white;
    
}
.card-content h3{
    margin: 3px;
    text-align: center;
}
.card-content p{
    text-align: justify;
    text-justify: inter-word;
}


.meals{
background-color:#282d31;
margin-top: 50px;

}

.contentm{
    padding: 50px;
}
#h1m{
    
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 55;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    
}
.contentm .gridm{
    
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    font-family: sans-serif;
    padding-top: 30px;
    
}
.content .grid .card *{
    box-sizing: border-box;
}
.cardm{
    background: #fafafa;
    box-shadow: 2px 2px 6px 0px rgba(230, 229, 229, 0.3);
}
.cardm img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    
    padding: 7%;

}
.cardm .card-contentm{
    line-height: 1.5;
    font-size: 0.9em;
    padding: 0% 7% 7% 7%;
    
    
}
.card-contentm h3{
    margin: 3px;
    text-align: center;
}
.card-contentm p{
    text-align: justify;
    text-justify: inter-word;
}


/* footer */

.footer{

    width: 100%;
    
    background: #2f0025;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
}
.footer div{
    text-align: center;
    padding: 3%;
    flex: 1;

}
/* .footer .col2{
    
    flex-grow: 2;
} */

.footer div h3{
    font-weight: 400;
    letter-spacing: 1px;
}
.footer .col1 a{
    display: block;
    text-decoration: none;
    color: #f7f6f2 ;
    margin-bottom: 10px;
   

}
.footer .col3 p{
    display: block;
    color: #f7f6f2;
}
.footer .col2 form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}
form button{
    margin: auto;
    display: block;
    background: transparent;
    border: 2px solid #693f60;
    color: #f7f6f2;
    border-radius: 30px;
    padding: 10px 30px;
    font-size:15px ;
    cursor: pointer;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {
    .home .contenth {
        padding: 5%;
    }
    .home .contenth h1{
        font-size: 55px;
       
    }
	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {
   
.main-nav a{
   
	padding: 8px 6px;
	
	font-size: .60em;    
   margin: 0%;

}
.logo img{
    
    height: 30px;
    
    

}

.home h1{
    font-size: 45px;
    
    padding-left: 10px;
    padding-right: 10px;
}

.home h6{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;

} 
.home a{
    margin-left: 10px;
}
	
.footer .col2 form input{
    width: 300px;
    margin: 10px;
    
}
}